
.card-body{
  height:300px;
  width: 100%;

}
.card{
  overflow:hidden;
  width:100%;
}
.card img{
height:200px;
width: 100%;

}
.card-body p{
  max-height: 20px;
  width:100%;
  margin-bottom: 80px;
}


.card-body h5{
  height:100px;
  width:100%;
}

.card-body Link{
  
}