
.card-body{
  height:300px;
  position: relative;


}
.card{
  overflow:hidden;

;
}
.card img{
height:200px;
width: 100%;
object-fit: contain;

}
.card-body p{
  max-height: 20px;
  width:100%;
}


.card-body h5{
  height:100px;
  width:100%;
}

.card-body Link{
  
}

.card-price{

}

/*.l1{
  position:absolute;
  margin-top:30%;
  margin-left:23%;

}*/

/*@media(max-width:500px){

  .card-body .l1 {
    position:absolute;

    margin-bottom:120%;
    margin-left:23%;
  
    
  }
}*/

.card{
}